<div class="container py-5 col-5">
  <h4 class="text-center">ログイン</h4>
  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row justify-content-center mb-3">
    <div class="d-flex flex-column">
      <label class="text-left">メールアドレス</label>
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', size: 30 %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="d-flex flex-column">
      <label class="text-left">パスワード</label>
      <div>
        <%= f.password_field :password, autocomplete: "current-password", size: 30 %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.submit "ログイン", class: 'btn btn-base' %>
  </div>
  <% end %>
</div>