<div style="text-align: center;" class="pt−2 pb-5">
  <h1><span class="display">TaiikukanKariyo!</span></h1>
  <p>
    こちらのサイトでは誰でも気軽に体育館を借りることが出来ます。<br>
    予約をするには、会員登録が必要となります。<br>
    ぜひご利用ください。
  </p>
  <div>
    <%= image_tag 'gym.jpg', :size => '900x400' %>
  </div>
</div>

<div style="text-align: center;" class="pt−2 pb-5">
    <p>体育館管理者の方は</p>
    <%= link_to "こちら", new_gym_manager_registration_path %> <br>
</div>
  

