<div class="container py-5">
    <h4 class="text-center">体育館一覧</h4>
    <% @gyms.each do |gym| %>
    <div class="row">
      <div class="col-5">
        <%= image_tag gym.get_image(300,300) %>
      </div>
      <div class="col-3">
        <%= link_to gym_path(gym.id) do %>
        <h5 class="pt-5"><strong><%= gym.name %></strong></h5>
        <% end %>
        <%= gym.address %>
      </div>
    </div>
    <% end %>
  </div>
</div>

