<div class="container pb-5">
  <%= render 'gym_manager/gyms/gym_info', gym: @gym, gym_comment: @gym_comment %>
  <div class="row">
    <%= render 'public/gym_comments/index', gym: @gym, gym_comment: @gym_comment %>
    <%= render 'public/gym_comments/form', gym: @gym, gym_comment: @gym_comment %>
  </div>
  <%= render 'gym_manager/gyms/map', gym: @gym %>
</div>
