<div class="container py-5">
  <%= render 'show', gym: @gym, facility: @facility %>
  
  <%= form_with model:[@gym, @facility], url:edit_gym_manager_gym_facility_path do |f| %>
    <%= f.text_area :name %>
    <%= f.submit "送信" %>
  <% end %>
</div>