@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');



.btn-base {
  background: #00a381;
  color: #ffffff;
  border: 1px solid#00a381;
}

.btn-base:hover, .btn-base:focus,
.btn-base:active, .btn-base:active:focus, .btn-base:active:hover, .btn-base:active.focus,
.btn-base.active, .btn-base.active:focus, .btn-base.active:hover, .btn-base.active.focus,
.open > .dropdown-toggle.btn-base,
.open > .dropdown-toggle.btn-base:hover,
.open > .dropdown-toggle.btn-base:focus,
.open > .dropdown-toggle.btn-base.focus,
.btn-base.disabled:hover, .btn-base[disabled]:hover, fieldset[disabled] .btn-base:hover,
.btn-base.disabled:focus, .btn-base[disabled]:focus, fieldset[disabled] .btn-base:focus,
.btn-base.disabled.focus, .btn-base[disabled].focus, fieldset[disabled] .btn-base.focus {
  background: #ffffff;
  color: #00a381;
  border: 1px solid#00a381;
}

#loading {
  background-color: #d3d3d3;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}