@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.btn-base {
  background: #00a381;
  color: #ffffff;
  border: 1px solid#00a381;
}

.btn-base:hover, .btn-base:focus,
.btn-base:active, .btn-base:active:focus, .btn-base:active:hover, .btn-base:active.focus,
.btn-base.active, .btn-base.active:focus, .btn-base.active:hover, .btn-base.active.focus,
.open > .dropdown-toggle.btn-base,
.open > .dropdown-toggle.btn-base:hover,
.open > .dropdown-toggle.btn-base:focus,
.open > .dropdown-toggle.btn-base.focus,
.btn-base.disabled:hover, .btn-base[disabled]:hover, fieldset[disabled] .btn-base:hover,
.btn-base.disabled:focus, .btn-base[disabled]:focus, fieldset[disabled] .btn-base:focus,
.btn-base.disabled.focus, .btn-base[disabled].focus, fieldset[disabled] .btn-base.focus {
  background: #ffffff;
  color: #00a381;
  border: 1px solid#00a381;
}