<div class="container py-5 col-md-2 col-md-offset-5">
  <h4 class="">ログイン</h4>

  <%= form_with model: @user, url: user_session_path do |f| %>
  <div class="row d-flex flex-column mb-3">
    <label>メールアドレス</label>
    <div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', size: 50 %>
    </div>
  </div>
  <div class="row d-flex flex-column mb-3">
    <label>パスワード</label>
    <div>
      <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
    </div>
  </div>

  <div>
    <%= f.submit "ログイン", class: 'btn w-75' %>
  </div>
  <% end %>
</div>